
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Des Moines Video Rental</title>
<link rel="stylesheet" href="style.css">
</head>
<body class="column">
<header class="column">
    <h1>Des Moines Video Rental</h1>
    <p>123 NW 1234th Ave<br>
    Des Moines, IA 50319<br>
    +1 (515)-123-1234</p>
</header>
<div class="row">
<button class="column nav-buttons"><img src="/images/movie_img.png" class="buttons" onclick="document.location='/viewAllMovies'">Manage Movies</button>
<button class="column nav-buttons"><img src="/images/movie_img.png" class="buttons" onclick="document.location='/checkout'">Checkout</button>
<button class="column nav-buttons"><img src="/images/movie_img.png" class="buttons">Check In</button>
<button class="column nav-buttons"><img src="/images/person_img.png" class="buttons" onclick="document.location='/viewAllMembers'">Manage Members</button>
</div>
</body>
</html>