<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Overdue Movies</title>
<link rel="stylesheet" href="style.css">
</head>
<body class="column">
<header class="column">
    <h1>Des Moines Video Rental</h1>
    <p>123 NW 1234th Ave<br>
    Des Moines, IA 50319<br>
    +1 (515)-123-1234</p>
</header>
	<form>
		<table>
		<th>Movie Name</th>
		<th>Checkout ID</th>
		<th>Member Name</th>
		<th>Member ID</th>
		<th>Checkout Date</th>
		<th>Due Date</th>
			<tr th:each="currentCheckOut : ${checkedOut}" id="overdueTable">
				<td th:text="${currentCheckOut.Movie.movieName}" />
				<td th:text="${currentCheckOut.Movie.uniqueCheckoutId}" />
				<td th:text="${currentCheckOut.Member.name}" />
				<td th:text="${currentCheckOut.Member.Id}" />
				<td th:text="${currentCheckOut.checkoutDate}" />
				<td style="color:red;" th:text="${currentCheckOut.checkinDate}" />
			</tr>
		</table>
	</form>
<div class="row">
<button class="column nav-buttons" onclick="document.location='/viewAllMovies'"><img src="/images/movie_img.png" class="buttons" >Manage Movies</button>
<button class="column nav-buttons" onclick="document.location='/checkout'"><img src="/images/movie_img.png" class="buttons">Checkout</button>
<button class="column nav-buttons" onclick="document.location='/checkin'"><img src="/images/movie_img.png" class="buttons">Check In</button>
<button class="column nav-buttons" onclick="document.location='/viewAllMembers'"><img src="/images/person_img.png" class="buttons">Manage Members</button>
<button class="column nav-buttons" onclick="document.location='/viewAllMembers'"><img src="/images/question_mark.png" class="buttons">Reports</button>
</div>
</body>
</html>